.grid-container {
  display: grid;
  grid-template-columns: 200px auto;
  background-color: white;
  height: 100vh;
}

/* 
.grid-container {
  display: grid;
  grid-template-columns: auto;
  background-color: white;
  height: 100vh;
} */

.flow-container {
  display: grid;
  grid-template-columns: auto;
  background-color: #F5F8FA;
  height: 100vh;
  overflow: hidden;
}

.paramsCabinet {
  background-color: white;
  border-left: 1px solid lightgray;
  padding: 20px;
  font-size: 13px;
}

.resultsDisplay {
  background-color: #F5F8FA;
  border-left: 1px solid lightgray;
  padding: 0px;
  padding-bottom: 100px;
  overflow-y: scroll;
}