.grid-container {
  display: grid;
  grid-template-columns: 300px auto;
  background-color: white;
  height: 100vh;
}

.paramsCabinet {
  background-color: white;
  border-left: 1px solid lightgray;
  padding: 20px;
  font-size: 13px;
}

.resultsDisplay {
  background-color: #F5F8FA;
  border-left: 1px solid lightgray;
  padding: 0px;
}
