.card_header {
  background: white;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: lightgray;
  height:34px;
}

.chart_name {
  margin: 5px;
  margin-left: 10px;
  margin-top: 6px;
  position: absolute;
  font-size: 16px;
}

/*
Override the blueprint popup so that the list doesn't get insanely long when querying elements
*/
.bp3-popover-content {
  max-height: 500px;
  overflow: scroll;
}